PAYMENT_DB_NAME=paymentdb
PAYMENT_DB_URL=jdbc:postgresql://localhost:5433/paymentdb
PAYMENT_DB_USERNAME=myuser
PAYMENT_DB_PASSWORD=change-me

INVENTORY_DB_NAME=inventorydb
INVENTORY_DB_URL=jdbc:postgresql://localhost:5434/inventorydb
INVENTORY_DB_USERNAME=myuser
INVENTORY_DB_PASSWORD=change-me

ORDER_DB_NAME=orderdb
ORDER_DB_URL=jdbc:postgresql://localhost:5435/orderdb
ORDER_DB_USERNAME=myuser
ORDER_DB_PASSWORD=change-me

KAFKA_BOOTSTRAP_SERVERS=localhost:29092
SCHEMA_REGISTRY_URL=http://localhost:8086

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me
